<div class="advantages">
    <div class="container">
      <div class="advantage-item">
        <img src="/assets/images/remen.jpg" alt="" class="advantage-item__image" />
        <div class="advantage-item__text">
          <h3 class="advantage-item__title">Важнейшее правило бизнеса</h3>
          <div class="advantage-item__description">
            <p>Лучше предотвратить проблему, <br/>чем потом ее преодолевать.</p>
          </div>
        </div>
      </div>
      <div class="advantage-item">
        <img src="/assets/images/chess-white.jpg" alt="" class="advantage-item__image" />
        <div class="advantage-item__text">
          <h3 class="advantage-item__title">Мы всегда на шаг впереди</h3>
          <div class="advantage-item__description">
            <p>Каждый из нас – специалист в определенной области права, <br/>а в целом, мы – команда, которая действует на опережение.</p>
          </div>
        </div>
      </div>
    </div>
  </div>