<div class="contacts">
    <ul class="contacts-list">
      <li class="contacts-list-item">
        <div class="contacts-list-item__icon">
          <svg class="contacts-list-item__icon-image">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#phone"></use>
          </svg>
        </div>
        <p class="contacts-list-item__phone">+7 (499) 391-46-66</p>
      </li>
      <li class="contacts-list-item">
        <div class="contacts-list-item__icon">
          <svg class="contacts-list-item__icon-image">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#map-marker"></use>
          </svg>
        </div>
        <address class="contacts-list-item__address">
          <p>143441, М.О., Красногорский район, п/о&nbsp;Путилково, МКАД&nbsp;69&nbsp;км,</p>
          <p>Бизнес-парк "Greenwood", строение&nbsp;9, этаж&nbsp;4</p>
        </address>
      </li>
      <li class="contacts-list-item">
        <div class="contacts-list-item__icon">
          <svg class="contacts-list-item__icon-image contacts-list-item__icon-image_email">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#email"></use>
          </svg>
        </div>
        <p class="contacts-list-item__email">info@stconsulting.ru</p>
        <a href="mailto:info@stconsulting.ru" class="contacts-list-item__link">Написать нам письмо</a>
      </li>
    </ul>
  </div>
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A59b3e22bdf68fa90dd14352ec8387efcd6ddc09ac69ab3de82167b423f94ffe8&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>