<footer class="footer">
    <div class="container">
      <div class="copyright">Copyright © 2007-2017 Группа&nbsp;СТК</div>
      <div class="legal-link-list">
        <a href="/terms-of-use.html" class="legal-link">Соглашение о пользовании сайтом</a>
        <a href="/privacy-policy.html" class="legal-link">Политика конфиденциальности</a>
      </div>
      <a href="https://www.udelta.ru" class="author" target="_blank">
        <span class="author__text">Сайт разработан</span>
        <img src="/assets/images/logo-udelta.svg" alt="Udelta - digital marketing" class="author__logo"> </a>
    </div>
  </footer>