<footer class="footer">
    <div class="container">
      <div class="copyright">Copyright © 2007-2017 Группа&nbsp;СТК</div>
      <div class="legal-link-list">
        <a href="https://www.stconsulting.ru/terms-of-use.html" class="legal-link">Соглашение о пользовании сайтом</a>
        <a href="https://www.stconsulting.ru/privacy-policy.html" class="legal-link">Политика конфиденциальности</a>
      </div>
      <a href="https://www.udelta.ru" class="autor" target="_blank">
        <span class="autor__text">Сайт разработан</span>
        <img src="https://static.stconsulting.ru/images/logo-udelta.svg" alt="Udelta - digital marketing" class="autor__logo"> </a>
    </div>
  </footer>