
<% if (!index) { %>
    <a href="/" class="logo">
        <img src="/assets/images/logo-group-stk-only.svg" alt="СТК" class="logo__image" />
        <span class="logo__name">Группа СТК</span>
    </a>
<% } else { %>
    <div class="logo">
        <img src="/assets/images/logo-group-stk-only.svg" alt="СТК" class="logo__image" />
        <span class="logo__name">Группа СТК</span>
    </div>
<% } %>