<nav class="main-menu">
    <a href="/about.html" class="main-menu__link">О нас</a>
    <a href="/services/" class="main-menu__link">Деятельность</a>
    <a href="/contacts.html" class="main-menu__link">Контакты</a>
</nav>