<div class="services">
    <div class="container">
        <% if (title) { %>
            <h2 class="services__title">Направления деятельности</h2>
        <% } %>
        
        <div class="services__item service-item" onclick="window.location='/services/complex.html'">
            <img src="/assets/images/complex.svg" alt="" class="service-item__icon" />
            <h3 class="service-item__title">Комплексное сопровождение бизнеса</h3>
        </div>
        <div class="services__item service-item" onclick="window.location='/services/antitrust.html'">
            <img src="/assets/images/antimonopolia.svg" alt="" class="service-item__icon" />
            <h3 class="service-item__title">Антимонопольная практика</h3>
        </div>

        <div class="services__item service-item">
            <img src="/assets/images/corporate.svg" alt="" class="service-item__icon" />
            <h3 class="service-item__title">Корпоративная практика, слияния и поглощения</h3>
        </div>

        <div class="services__item service-item">
            <img src="/assets/images/infrastructure.svg" alt="" class="service-item__icon" />
            <h3 class="service-item__title">Обслуживание инфраструктурных проектов</h3>
        </div>

        <div class="services__item service-item">
            <img src="/assets/images/build.svg" alt="" class="service-item__icon" />
            <h3 class="service-item__title">Сопровождение строительства и сделок с недвижимостью</h3>
        </div>


        <div class="services__item service-item">
            <img src="/assets/images/intellect.svg" alt="" class="service-item__icon" />
            <h3 class="service-item__title">Защита интеллектуальной собственности</h3>
        </div>


        <div class="services__item service-item">
            <img src="/assets/images/ved.svg" alt="" class="service-item__icon" />
            <h3 class="service-item__title">Внешнеэкономическая деятельность</h3>
        </div>
        
        
        
        
        <div class="services__item service-item">
            <img src="/assets/images/nalog.svg" alt="" class="service-item__icon" />
            <h3 class="service-item__title">Налоговая практика</h3>
        </div>

        <div class="services__item service-item">
            <img src="/assets/images/it.svg" alt="" class="service-item__icon" />
            <h3 class="service-item__title">Сопровождение ИТ проектов</h3>
        </div>

        <div class="services__item service-item">
            <img src="/assets/images/spor.svg" alt="" class="service-item__icon" />
            <h3 class="service-item__title">Разрешение споров</h3>
        </div>
    </div>
</div>