<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700|Roboto:300,400&amp;subset=cyrillic" rel="stylesheet">
  <!-- Bootstrap CSS -->
</head>

<body>
  <header class="header header_home">
    <div class="header__bg header__bg_blue"></div>
    <div class="header__top">
        <div class="header__top-bg"></div>
        <div class="container">
            <div class="logo">
              <img src="/assets/images/logo-group-stk-only.svg" alt="СТК" class="logo__image"/>
              <span class="logo__name">Группа СТК</span>
            </div>
            <nav class="main-menu">
              <a href="#" class="main-menu__link">О нас</a>
              <a href="#" class="main-menu__link">Деятельность</a>
              <a href="#" class="main-menu__link">Контакты</a>
            </nav>
            <div class="phone">
              <span class="phone__number">+7 (495) 391-46-66</span>
            </div>
        </div>
    </div>
    <div class="header__bottom top-block">
      <div class="container">
          <h1 class="main-title">Современные технологии консалтинга</h1>
          <div class="top-block__description">
            <p>СТК - российская группа компаний, которая обслуживает корпоративных клиентов и физических лиц. Мы готовы помочь нашим клиентам решить вопросы любой сложности </p>
          </div>
      </div>
    </div>
  </header>

  <div class="services">
    <div class="container">
      <h2 class="services__title">Направления деятельности</h2>
      <div class="services__item service-item">
        <img src="/assets/images/icon.png" alt="" class="service-item__icon"/>
        <h3 class="service-item__title">Комплексное сопровождение бизнеса</h3>
      </div>


      <div class="services__item service-item">
        <img src="/assets/images/icon.png" alt="" class="service-item__icon"/>
        <h3 class="service-item__title">Антимонопольная практика</h3>
      </div>

      <div class="services__item service-item">
        <img src="/assets/images/icon.png" alt="" class="service-item__icon"/>
        <h3 class="service-item__title">Корпоративная практика, слияния и поглощения</h3>
      </div>
      
      <div class="services__item service-item">
        <img src="/assets/images/icon.png" alt="" class="service-item__icon"/>
        <h3 class="service-item__title">Обслуживание инфраструктурных проектов</h3>
      </div>

      <div class="services__item service-item">
        <img src="/assets/images/icon.png" alt="" class="service-item__icon"/>
        <h3 class="service-item__title">Сопровождение строительства и сделок с недвижимостью</h3>
      </div>


      <div class="services__item service-item">
        <img src="/assets/images/icon.png" alt="" class="service-item__icon"/>
        <h3 class="service-item__title">Защита интеллектуальной собственности</h3>
      </div>


      <div class="services__item service-item">
        <img src="/assets/images/icon.png" alt="" class="service-item__icon"/>
        <h3 class="service-item__title">Внешнеэкономическая деятельность</h3>
      </div>

      <div class="services__item service-item">
        <img src="/assets/images/icon.png" alt="" class="service-item__icon"/>
        <h3 class="service-item__title">Налоговая практика</h3>
      </div>

      <div class="services__item service-item">
        <img src="/assets/images/icon.png" alt="" class="service-item__icon"/>
        <h3 class="service-item__title">Сопровождение ИТ проектов</h3>
      </div>

      <div class="services__item service-item">
        <img src="/assets/images/icon.png" alt="" class="service-item__icon"/>
        <h3 class="service-item__title">Разрешение споров</h3>
      </div>
    </div>
  </div>
  <div class="advantages">
    <div class="container">
      <div class="advantage-item">
          <img src="" alt="" class="advantage-item__image"/>
          <h3 class="advantage-item__title">Преимущество 1</h3>
          <div class="advantage-item__description">
            <p>Каждый из нас – специалист в определенной области права, а в целом, 
                мы – команда, которая действует на опережение.</p>
          </div>
      </div>
      <div class="advantage-item">
          <img src="" alt="" class="advantage-item__image"/>
          <h3 class="advantage-item__title">Преимущество 2</h3>
          <div class="advantage-item__description">
            <p>Каждый из нас – специалист в определенной области права, а в целом, 
                мы – команда, которая действует на опережение.</p>
          </div>
      </div>
    </div>
  </div>
</body>

</html>