<!DOCTYPE html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700|Roboto:300,400&amp;subset=cyrillic" rel="stylesheet">
  <!-- Bootstrap CSS -->
</head>

<body class="legal-doc-body">
  <header class="header header_legal">
    <div class="header__bg header__bg_blue"></div>
    <div class="header__top">
      <div class="header__top-bg"></div>
      <div class="container">
        <%- include('commons/logo', {index: false}) %>
        <%- include commons/main-menu %>
        <%- include commons/phone %>
      </div>
    </div>
    <div class="header__bottom top-block">
      <div class="container">
        <h1 class="main-title">Соглашение о пользовании сайтом</h1>
        <div class="top-block__description">
          
        </div>
      </div>
    </div>
  </header>
  
    <div class="legal"><div class="legal__text">
    <p>Находясь на сайте https://www.stconsulting.ru/, Вы соглашаетесь со следующим:</p> <ol class="dont-uppercase"> <li>Владельцем данного веб-сайта является ООО «Группа СТК», далее именуемое «Владелец». </li> <li>Все исключительные авторские права на текстовые и графические материалы на данном веб-сайте, если иное прямо не указано, принадлежат Владельцу.</li> <li>Разрешено копирование, публикация, распространение, цитирование и любые иные действия в отношении текстовых, графических, а также любых других материалов и/или объектов, расположенных на данном веб-сайте, если это не противоречит законодательству РФ, интересам Владельца и происходит со ссылкой на сайт как на первоисточник информации. Материалы, размещаемые на веб-сайте, являются объектами авторского права и защищены законодательством об интеллектуальной собственности и защите информации.</li> <li>Использовать текстовые, графические материалы и/или объектов с данного веб-сайта можно лишь для получения информации, заказа услуг в личных целях. В случае необходимости воспроизведения и/или использования материалов и/или объектов с веб-сайта в целях, не указанных выше, необходимо направить запрос по электронной почте <a href="mailto:info@stconsulting.ru">info@stconsulting.ru</a> с указанием URL и названия материала и/или объекта, который предполагается использовать, и целей его использования.</li> <li>Без прямого разрешения Владельца использование логотипов, изображений с данного веб-сайта не допускается. </li> <li>Все ссылки на внешние по отношению к данному веб-сайту серверы, приведённые на страницах веб-сайта, представлены только для удобства Посетителя. Интернет-страницы, на которые сделаны ссылки (если только они не являются сайтами, принадлежащими Владельцу), не контролируются Владельцем.</li> <li>Вся информация, публикуемая на сайте, по возможности проходит модерацию и редакторскую правку в целях предоставления посетителям максимального количества полезной информации, а также недопущения нарушения законодательства Российской Федерации.</li> <li>Посетитель обязуется использовать веб-сайт https://www.stconsulting.ru/ только в законных целях, а также в целях, не противоречащих интересам Продавца.</li> 
    <li>Согласно Федеральному закону "О специальной оценке условий труда" от 28.12.2013 N 426-ФЗ на сайте размещены <a href="/assets/pdf/vedomost_sout.pdf">Сводная ведомость результатов проведения СОУТ</a></li>
     <li>Администрация веб-сайта https://www.stconsulting.ru/ может в любое время изменить положения настоящего Соглашения, обновив данный документ. Пользователям данного веб-сайта следует периодически посещать эту страницу и знакомиться с последней версией Соглашения.</li> <li>С целью предотвращения вредоносных и незаконных действий пользователей Администрация веб-сайта оставляет за собой право сохранять информацию о действиях пользователей, историю обращений к страницам и IP-адреса пользователей портала.</li> <li>В случае несогласия Пользователя с любым из условий настоящего Соглашения он обязан немедленно прекратить использование настоящего веб-сайта и/или любого из его разделов.</li> <li>Неотъемлемой частью настоящего Соглашения является <a href="https://www.stconsulting.ru/privacy-policy.html">политика конфиденциальности</a>.</li> </ol></div> </div>

  <%- include commons/footer %>



</body>

</html>